<div class="container">
    <app-carousel></app-carousel>
</div>
<div class="movie-card">
    <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title style="font-size: 18px; "><a routerLink="/movies/{{movie.slug}}" (click)="handleOnClick(movie.id)">{{movie.title}}</a></mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.imgPath}} alt={{movie.title}}/>
        <mat-card-actions style="display: flex; justify-content: space-between; align-items: center; ">
            <button mat-button color="primary">
                Genre
            </button>
            <button mat-button color="primary">
                Director
            </button>
            <button mat-button color="primary">
                Synopsis
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <!-- <mat-icon>favorite</mat-icon> -->
                <mat-icon>favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>