$backgroundColor: #fcf9f5;
$cardColor: #fff;
$textColor: #4c3a51;
$boxShadowColor: #e9ecef;

.movie-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: $backgroundColor;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 10px 5px 5px $boxShadowColor;
  background-color: $cardColor;
  max-width: 280px;
  width: 280px;
  margin: 15px;
}

.mat-card-header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $textColor;
  width: 100%;
}

img {
  width: 100% !important;
  height: 370px;
  object-fit: contain;
}

a {
  text-decoration: none !important;
  color: $textColor;
  &:hover {
    color: #2b3d85;
  }
}

.mat-icon-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
